/*----all----*/
@font-face { 
    font-family: "Muller";
    src: url("/font/MullerBold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}
@font-face { 
    font-family: "Muller";
    src: url("/font/MullerRegular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}
@font-face { 
    font-family: "Muller";
    src: url("/font/MullerMedium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
}
@font-face { 
    font-family: "Muller";
    src: url("/font/MullerExtraBold.woff") format("woff");
    font-style: normal;
    font-weight: 800;
}
* {
    box-sizing: border-box; /*padding не влияют на внешние размеры элемента, они отступаются внутри*/
    font-family: "Muller";
    font-weight: 400;
    font-size: 16px;
}
html {
    max-width: 1920px;
    max-height: 5667px;
    background: #F1F1F1;
}

.container {
    max-width: 1170px;
    /*контейнер располагается по центру своих родителей (в нашем случае экрана)*/
    margin-left: auto;
    margin-right: auto;
}
.container {
    margin-bottom: 70px;
}
ul {
    list-style: none; /*свойства маркеров в списке*/
}
.title {
    font-size: 40px;
    margin-left: 40px;
    color: #333333;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 40px;
}
.btn {
    height: 42px;

    border: 1px solid #CC9933;
    border-radius: 10px;
    color: #CC9933;
    background-color: #FFFFFF;
    padding: 12px 19px;
    line-height: 0;
    
    transition-property: background-color, color;
    transition-duration: 1000ms; 
}
.btn:hover {
    background-color: #CC9933;
    color: white;
    cursor: pointer;
}
/*---header---*/
.header {
    color: #666666;
    
}
.header__container {
    margin-top: 0;
    padding-top: 30px;
}
.header__exit {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    color: #CC9933;
    cursor: default;
}

.header__exit:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header__img {
    margin-right: 7px;
    margin-bottom: 1px;
}
.header__first-block { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 54px;
}
.header__section {
    display: flex;
    align-items: center;
}
.header__logo {
    max-height: 54px;
}
.header__telephone {
    font-size: 20px;
    margin-left: 40px;
    line-height: 20px;
    font-weight: 500;
}
.header__second-block {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 14px 45px;
    align-items: center;
    border-radius: 15px;
}
.header__nav-list {
    display: flex;
}
.header__btn-tour {
    margin-right: 37px;
}

.header__nav-item:not(:last-child) {
    margin-right: 45px;
    cursor: default; 
}
.header__nav-item:last-child {
    margin-right: 114px;
    cursor: default; 
}
.header__nav-item:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}


/*----offers----*/
.offers__list{
    display: flex;
}
.offers__tour {
    display: flex;
    flex-direction: column;
    height: 540px;
    margin-right: 24px;
}

.offers__item {
    border-radius: 15px;
    height: 258px;
    width: 573px;
    position: relative;
}
.offers__item:first-child {
    background-image: url('/img/gradient.png'), url('/img/maldivi.jpg');
    background-size: contain; /*Масштабирует картинку так, чтобы она максимально накрыла собой весь блок. 
    Картинка при этом не обрезается, а вписывается в блок с сохранением пропорций.*/
    margin-bottom: 24px;
}
.offers__item:nth-child(2) {
    background-image: url('/img/gradient.png'), url('/img/krit.jpg');
    background-size: contain; /*Масштабирует картинку так, чтобы она максимально накрыла собой весь блок. 
    Картинка при этом не обрезается, а вписывается в блок с сохранением пропорций.*/
}
.offers__luxe {
    background-image: url('/img/luxe.jpg');
    background-size: contain; /*Масштабирует картинку так, чтобы она максимально накрыла собой весь блок. 
    Картинка при этом не обрезается, а вписывается в блок с сохранением пропорций.*/
    Width: 573px;
    Height: 540px;
    position: relative;
    border-radius: 15px;
}
.offers__name {
    color: white;
    font-weight: 700;
    
    font-size: 40px;
    line-height: 40px;
    position: absolute;
    left: 45px;
    top: 40px;
}
.offers__name-luxe {
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
}
.offers__price {
    position: absolute;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height */
    color: #FFFFFF;
    left: 45px;
    top: 135px;
}
.offers__price-luxe {
    font-size: 30px;
    line-height: 30px;
}
.offers__detailed {
    position: absolute;
    left: 45px;
    top: 200px;
    display: flex;
    justify-content: space-between;
    width:103px;
}
.offers__detailed-text {
    align-self: center;
    color: #F0BF5F;
    line-height: 16px;
}
.offers__icon {
    align-self: center;
}
.offers__name-luxe {
    top: 212px;
}
.offers__luxe .offers__price{
    top: 407px;
}
.offers__luxe .offers__detailed{
    top: 482px;
}
/*----about----*/

.about__text {
    max-width: 888px;
    line-height: 32px;
    margin-bottom: 20px;
}
/*----------services-----*/
.services__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services__item {
    background-color: #FFFFFF;
    width: 573px;
    height: 330px;
    border-radius: 15px;
    position: relative;
}
.services__item:first-child {
    margin-bottom: 24px;
    background-image: url("/img/shampain.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.services__item:nth-child(2) {
    margin-bottom: 24px;
    background-image: url("/img/table.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.services__item:nth-child(3) {
    background-image: url("/img/sauna.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.services__item:nth-child(4) {
    background-image: url("/img/car.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.service__tab {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 45px;
    bottom: 99px;
}
.services__tab-nav {
    font-size: 20px;
    font-weight: 500;
    color: #CC9933;
    line-height: 40px;
    align-self: center;
}
.services__icon {
    margin-left: 7px;
    align-self: center;
}
.services__description {
    line-height: 200%;
    position: absolute;
    left: 45px;
    bottom: 35px;
}
/*--------benefits------*/
.benefits__cards {
    display: flex;
    flex-wrap: wrap;
}
.benefits__item {
    background-color: #FFFFFF;
    width: 276px;
    height: 276px;
    border-radius: 15px;
    position: relative;
}
.benefits__item:not(:nth-child(4n))  {
    margin-right: 22px;
}
.benefits__item:not(:nth-child(n+5))  { /*n+5 - все элементы, кроме первых четырех, not --> первые 4*/
    margin-bottom: 22px;
}
.benefits__text {
    position: absolute;
    line-height: 200%;
    left: 45px;
    bottom: 32px;
}
.benefits__img {
    position: absolute;
    left: 45px;
    top: 40px;
}
/*----placement-----*/
.placement__cards {
    display: flex;
    flex-wrap: wrap;
}
.placement__item {
    position: relative;
    width: 374px;
    height: 440px;
    background-color: white;
    border-radius: 15px;
}
.placement__item:not(:nth-child(3n))  {
    margin-right: 24px;
}
.placement__item:not(:nth-child(n+7))  { /*n+7 - все элементы, кроме первых шести, not --> первые 6*/
    margin-bottom: 24px;
}
.placement__btn {
    position: absolute;
    bottom: 45px;
    left: 45px;
}
.placement__country {
    line-height: 16px;
    color: #999999;
    position: absolute;
    left: 45px;
    bottom: 107px;
}
.placement__hotel {
    line-height: 16px;
    position: absolute;
    left: 45px;
    top: 285px;
}
.placement__price {
    position: absolute;
    left: 45px;
    top: 249px;
}
.placement__price-from {
    color:  #999999;
}
.placement__price-number {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
}
.placement__stars {
    position: absolute;
    width: 94px;
    display: flex;
    justify-content: space-between;
    right: 45px;
    top: 252px;
}
.placement__star:not(:last-of-type) {

}
.placement__item:first-child {
    background-image: url('/img/hotel.jpg');
    background-repeat: no-repeat;
}
.placement__item:nth-child(2) {
    background-image: url('/img/Lagoona son típicas.jpg');
    background-repeat: no-repeat;
}
.placement__item:nth-child(3) {
    background-image: url('/img/Lagoona de la guerra.jpg');
    background-repeat: no-repeat;
}
.placement__item:nth-child(4) {
    background-image: url('/img/Lagoona mentira piadosa.jpg');
    background-repeat: no-repeat;
}
.placement__item:nth-child(5){
    background-image: url('/img/Lagoona empujar la creatividad.jpg');
    background-repeat: no-repeat;
}

.placement__item:nth-child(6) {
    background-image: url('/img/Lagoona el retorno.jpg');
    background-repeat: no-repeat;
}
.placement__item:nth-child(7){
    background-image: url('/img/Lagoona mentira piadosa2.jpg');
    background-repeat: no-repeat;
}
.placement__item:nth-child(8){
    background-image: url('/img/Lagoona suerte siguió siempre.jpg');
    background-repeat: no-repeat;
}
.placement__item:last-child{
    background-image: url('/img/island.jpg');
    background-repeat: no-repeat;
}
.placement__tab-nav {
    position: absolute;
    color:#FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    left: 54px;
    bottom: 27px;
}
.placement__arrow {
    margin-left: 310px;
    margin-top: 383px;
}
/*----want-----*/
.want__container {
    background-color: #E9E9E9;
    height: 256px;
    border-radius: 15px;
}
.want__title {
    padding-top: 45px;
}

.want__panel {
    display: flex;
    position: relative;
    background-color: white;
    height: 106px;
    width: 1080px;
    border-radius: 15px;
    margin: 0 auto;
}
.want__name{
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 14px;
}
.want__topic:hover .want__name{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.want__topic:active .want__name{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.want__select {
    width: 176px;
}
.want__topic {
    margin-top: 27px;
    margin-right: 33px;
}
.want__topic:last-of-type {
    margin-right: 51px;
}
.want__city {
    margin-left: 25px;
}
.want__btn {
    position: absolute;
    right: 28px;
    top:31px;
    padding: 13px 29px;
}
.want__date-form {
    width: 134px;
}
input {
    width: 121px;
}
.want__nights-form, .want__tourist-form {
    width: 121px;
    border-bottom: 1px solid #E9E9E9;
    margin-right: 8px;
}
/*----conatacts----*/
.contacts__panel {
    background-color: white;
    border-radius: 15px;
    height: 618px;
    display: flex;
}
.contacts__img {
    max-width: 653px;
    max-height: 528px;
    /*margin-left: 472px;*/
    margin-left: 52px;
    border-radius: 10px;
    margin-top: 45px;
}
.contacts__text {
    width: 375px;
    margin-left: 45px;
    margin-top: 45px;
}
.contacts__subtitle {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
}
.contacts__text-block {
    display: flex;
    padding-bottom: 23px;
    border-bottom: #E9E9E9 1px solid;
}
.contacts__text-block {
    margin-bottom: 25px;
}
.contacts__text-block:last-of-type {
    margin-bottom: 45px;
}
:root {
	--address__width: 61px;
    --mobile__width: 97px;
    --email__width: 51px;
    --graphic__width: 71px;
}
.contacts__email-text {
    display: flex;
    flex-direction: column;
}
.contacts__data {
    line-height: 24px;
}
.contacts__address-data {
    margin-left: calc(145px - var(--address__width));
}
.contacts__mobile-data {
    color: #CC9933;
    margin-left: calc(145px - var(--mobile__width));
}
.contacts__email-data {
    margin-left: calc(145px - var(--email__width));
    color: #CC9933;
}
.contacts__email-questions {
    color: #999999;
    margin-left: calc(145px - var(--email__width));
}
.contacts__email-questions {
   margin-bottom: 3px;
}
.contacts__email-questions ~ .contacts__email-questions {
    margin-bottom: 0;
}
.contacts__graphic {
    padding-bottom: 22px;
}
.contacts__graphic-data {
    line-height: 24px;
    margin-left: calc(145px - var(--graphic__width));
}
.contacts__btn {
    text-align: center;
    padding: 34px 29px;
}
/*-----footer---*/
.footer__container {
    background-color: #333333;
    bottom: 30px;
    border-radius: 15px;
    color: #FFFFFF;
    display: flex;
    
    padding: 45px;
    height: 341px;
    position: relative;
}
.footer__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 302px;
    line-height: 30px;
}

.footer__img {
    position: absolute;
    right: 177px;
    bottom: 0;
}
.footer__right {
    margin-left: 125px;
    display: flex;
    flex-direction: column;
    line-height: 24px;
    max-width: 359px;
}
.footer__address {
    margin-bottom: 15px;
    line-height: 30px;
}
.footer__mobile {
    margin-bottom: 15px;
}
.footer__agreement {
    line-height: 24px;
}
.footer__text {
    line-height: 30.1px;
}
.footer__agreement, .footer__email, .footer__mobile {
    color: #CC9933;
}
.footer__social {
    margin-left: 270px;
    max-height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
